<p id="notice"><%= notice %></p>

<h1>Listing Host data</h1>

<table>
  <thead>
  <tr>
    <th>Org</th>
    <th>Created</th>
  </tr>
  </thead>

  <tbody>
  <% @result.each do |event| %>
      <tr>
        <td><%= event.org %></td>
        <td><%= event.created %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %> <br>
<%= link_to 'Find by org', find_by_org_path %><br>
<%= link_to 'Find by host and org', find_by_host_org_path %><br>
<%= link_to 'Find by host', find_by_host_path %><br>
<%= link_to 'Home', events_path %>

