<p id="notice"><%= notice %></p>

<h1>Listing Events</h1>

<table>
  <thead>
    <tr>
      <th>Hostname</th>
      <th>Org</th>
      <th>Created</th>
      <th>Delete Events</th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.hostname %></td>
        <td><%= event.org %></td>
        <td><%= event.created %></td>
        <td><%= link_to 'Delete', event_path(event), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %> <br>
<%= link_to 'Find by org', find_by_org_path %><br>
<%= link_to 'Find by host and org', find_by_host_org_path %><br>
<%= link_to 'Find by host', find_by_host_path %><br>

